<div class="new-session bg-eee">
  <div class="new-item-nav">
    <div class="menu d-flex justify-content-between align-items-center p-2">
        <%= link_to :back do %>
          <span><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></span>
        <% end %>
        <p class="title m-0">Login</p>
        <span><%= link_to 'Login', "", :onclick => "$('#form_id').submit()" %></span>
      </div>
  </div>

  <div class="container d-flex flex-column justify-content-center vh-100">

    <%= form_with( url: sessions_path ) do |f| %>

      <div class="form-group">
        <%= label_tag :name, "Name" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>
