<% if @group.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @group.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @group do |f| %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Name', autofocus: true, class: "w-100"  %>
  </div>
  <div class="form-group">
    <%= f.text_field :icon, placeholder: 'Icon', class: "w-100" %>
  </div>

  <div class="actions">
    <%= f.submit class: "log d-block border rad p-2 text-center text-white bg-blue w-100"  %>
  </div>
<% end %>
