<div class= "group programs-list bg-eee">

  <div class= "programs-list_head sticky-top">
    <div class="menu d-flex justify-content-between align-items-center p-2">
      <%= link_to groups_path do %>
        <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
      <% end %>
      <h5 class="title m-0"><%= @group.name.capitalize %></h5>
      <%= link_to edit_group_path do %>
        <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
      <% end %>
    </div>
    <div class="amount_watched d-flex justify-content-between align-items-center py-3 px-2 bg-light text-color">
      <p class="m-0">Total hours watched:</p>
      <p class="m-0"><b><%= @group_amount %> hrs</b></p>
    </div>
  </div>

  <div class= "programs-list_content">

    <% @group.programs.each do |program|%>
      <div class= "programs-list_card d-flex justify-content-between">
        <div class="program_details d-flex">
          <%= set_group_icon(@group) %>

          <div class="program_details__details ml-2">
            <p class="mt-2 mb-0"><%= program.name.capitalize %></p>
            <small class="mt-1 d-block small">Author: <%= program.author.name %></small>
            <small class="d-block small"><%= program.created_at.strftime("%A %B %d, %Y") %></small>
          </div>
        </div>
        <p class="mb-0 mt-2"><b><%= program.amount %> hrs</b></p>
      </div>
    <% end %>

    <div class="add-btn">
      <%= link_to 'Add new program', new_program_path, class:"btn border border-white btn-lg btn-block text-white btn-outline-success" %>
    </div>
  </div>

<div>
