<div class="profile d-flex flex-column">
  <div class="profile-header text-center mb-2">
    <figure class="d-flex justify-content-center">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "mt-5 rounded-circle avatar", width: 90, height: 90 %>
      <% else %>
         <%= image_tag 'sample-profile2.png', alt: "default image", width: 90, height: 90, class: "rounded-circle mt-5" %>
      <% end %>
    </figure>
    <h4 class="username"><%= @user.name.capitalize %></h4>
  </div>

  <div class="profile-content align-self-center mt-3">
    <h1 class= d-flex>
      <i class="fa fa-television d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All my programs', programs_path(caller: 'full') %>
      </div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-random d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All my shuffled programs', programs_path(caller: 'ungrouped') %>
      </div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-object-group d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All groups', groups_path %>
      <div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-sign-out d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'Log out', session_path(0), method: :delete %>
      <div>
    </h1>

  </div>

  <div class="d-flex align-self-center resume mt-5 align-items-center">
    <h6 class="text-center m-0 px-3 py-2"><%= link_to 'Today', details_path(caller: 'day') %></h6>
    <h6 class="text-center m-0 px-3 py-2"><%= link_to 'Week', details_path(caller: 'week') %></h6>
    <h6 class="text-center m-0 px-3 py-2"><%= link_to 'Month', details_path(caller: 'month')%></h6>
  </div>
  
  <% if flash[:notice] %>
      <div class="alert alert-info container w-50 align-self-center text-center mt-3" role="alert">
        <p class="m-0"><%= notice %></p>
      </div>
  <% end %>

</div>