<div class="profile d-flex flex-column">
  <div class="profile-header text-center mb-2">
    <figure class="d-flex justify-content-center">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "mt-5 rounded-circle avatar", width: 90, height: 90 %>
      <% else %>
         <%= image_tag 'sample-profile2.png', alt: "default image", width: 90, height: 90, class: "rounded-circle mt-5" %>
      <% end %>
    </figure>
    <h4 class="username"><%= @user.name.capitalize %></h4>
  </div>

  <div class="profile-content align-self-center mt-4">
    <h1 class= d-flex>
      <i class="fa fa-television d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All my programs', programs_path(caller: 'full') %>
      </div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-random d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All my shuffled programs', programs_path(caller: 'ungrouped') %>
      </div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-object-group d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'All groups', groups_path %>
      <div>
    </h1>

    <hr>

    <h1 class= d-flex>
      <i class="fa fa-sign-out d-block" aria-hidden="true"></i>
      <div class="align-self-center">
        <%= link_to 'Log out', session_path(0), method: :delete %>
      <div>
    </h1>

  </div>

  <h6 class="mt-5 mx-2 align-self-center text-center">You have <%= @total %> hours of streaming and watching your favorite entertainement programs.</h6>

</div>