<div class="profile d-flex flex-column">
  <div class="profile-header text-center mb-2">
    <figure class="d-flex justify-content-center">
      <%= gravatar_image_tag(@user.email, size: 150, alt: @user.name, class: 'mt-4') %>
    </figure>
    <h1 class="username"><%= @user.name.capitalize %></h1>
  </div>

  <div class=" profile-content align-self-center ">
    <h1>
      <i class="fa fa-television" aria-hidden="true"></i>
      <%= link_to 'All my programs', programs_path(caller: 'full') %>
    </h1>
    <h1>
      <i class="fa fa-random" aria-hidden="true"></i>
      <%= link_to 'All my shuffled programs', programs_path(caller: 'ungrouped') %>
    </h1>
    <h1>
      <i class="fa fa-object-group" aria-hidden="true"></i>
      <%= link_to 'All groups', groups_path %>
    </h1>
    <h1>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <%= link_to 'Log out', root_path %>
    </h1>
  </div>

</div>