<div class="container">
  <p class="">
    <%= flash.notice %>
  </p>

  <%= form_with( url: registrations_path ) do |f| %>

    <div class="">
      <%= label_tag :name, "User Name to Log In", class: "" %>
      <%= f.text_field :name, autofocus: true  %><br />
      <%= label_tag :email, "Email" %>
      <%= f.text_field :email %><br />
      <%= label_tag :password, "Password" %>
      <%= f.text_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up"  %>
    </div>
  <% end %>
</div>